@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Text+Me+One&display=swap');
*{  
    margin:0;
    padding:0;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: white;

}
    body{
        background-image: linear-gradient(#27153E, #ffff);
        height: 100vh;
    }

        main {
            height: 100vh;
            position: relative;
            }
            .squareShape {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 10px;
                border: 3px solid #27153E;
                padding: 7% 6% 4% 3%;
                background-color: #5140FF;
                box-shadow: 5px 4px 0px #27153e;
                width: 28%;
            }
            #titre {
                font-weight: bold;
                font-size: 40px;
                margin: -40px 0px 10px -49px;
                background-color: #27153e;
                padding: 5px 0px 0px 20px;
                border-radius: 6px;
                width: 100%;
            }
            #outputtext {
                font-size: 21px;
                font-weight: bold;
                margin: 7% 0 -10% 4%;
                float: left;
                width: 80%;
                text-align: center;
            }
            #tent {
                float: left;
                margin: -2% 0 46px 380px;
            }
            span {
                line-height: 3;
                position: relative;
                margin-left: 59%;
                text-align: center;
            }
            img {
                width: 18%;
                margin: -16% 0 -27px 93%;
                float: left;
            }

            button {
                font-size: 20px;
                color: black;
                width: 95px;
                height: 50px;
                left: 977px;
                top: 580px;
                background: #FFFFFF;
                border: 3px solid #27153E;
                box-sizing: border-box;
                box-shadow: 2px 2px 0px #27153e;
                border-radius: 20px;
                text-decoration: none;
                margin: 112px 0px 0px -482px;
                float: left;
            }
            button:hover{
                color: #FFFFFF;
                background-color:#27153e ;
                box-shadow:5px 5px 2px #FFFFFF;
                transition: 0.4s;
            }
            button:focus{
                color: #5140FF;
                background-color:#FFFFFF ;
                box-shadow: 5px 5px 0px #27153e;
                transition: .4s;
            }
            button:active{
                color: #FFFFFF;
                background-color:#27153e ;
                box-shadow: 2px 2px 0px #FFFFFF;
                transition: 0.4s;
            }
            .container{
                display: grid;
                grid-template-columns: auto auto;
            }

            input {
                width: 400px;
                height: 46px;
                background: rgba(39, 21, 62, 0.2);
                border: 3px solid #27153E;
                box-sizing: border-box;
                border-radius: 7px;
                z-index: 1;
                margin: 29% 0% 0% -125%;
            }
        